<div class="container">
  <div class="jumbotron">
  	<center>
    <img src="https://vectr.com/tmp/a2NP34A4QM/d6MUk2SRU.svg?width=650&height=150&select=d6MUk2SRUpage0" alt="">
    </center>
	</div>


	<div class="modal-container">
		<button id="modal-pop">Learn more...</button>
	  <div id="modal" class="hidden">
	  <div class="modal-wrapper">
	  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi enim, tempore accusantium nobis, aperiam, iure ducimus id nostrum earum excepturi incidunt provident atque ab amet aspernatur sit illum. Ut, assumenda!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi enim, tempore accusantium nobis, aperiam, iure ducimus id nostrum earum excepturi incidunt provident atque ab amet aspernatur sit illum. Ut, assumenda!</p>
		<% if !current_user %>
			<a href="/users/sign_up"><button class="startbtn">Start Now!</button></a>
		<% end %>
		</div>
	</div>
	<h1>Top Workers !</h1>
	<div class="user-container">
	 <div class="user-item">
			<% @users.each do |user| %>
				<a href="/users/<%= user.id %>"><img src="<%= user.avatar %>" alt=""> </a>
				<br>
				<br>
				<p><%= user.fname %> <%= user.lname %></p>
			<% end %>
		</div>
	</div>
</div>

<script src="/js/home.js"></script>


