/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #565656;
}

.navbar {
    background-color: #FF3B3F;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ff4c50;
    color: black;
    border: solid black 1px;
    text-decoration: underline;
    border-radius: 2px;
}

.wrapper {
	margin: 0 auto;
	background-color: #A9A9A9;
	width: 100%;
	max-width: 540px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px black;
	margin-bottom: 12px;
}

.submitty {
	outline: none;
	border: 1px solid black;
	padding: 5px 5px;
	border-radius: 2px;
	display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #FF3B3F;
}

.submitty:hover {
		text-decoration: underline;
		background-color: #ff4c50;
		color: black;
		box-shadow: 3px 3px 3px black;
	}

.wrapper.fit_inside {
	width: 100%;
	max-width: 1200px;

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

.submitty:hover {
	cursor: pointer;
}
