.profile {
	margin: 0 auto;
	background-color: #CAEBF2;
	width: 100%;
	max-width: 90%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 2px #A9A9A9;
	border: solid 2px #A9A9A9;
}

.submitty {
	display: inline-block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #FF3B3F;
}

.info {
	width: 400px;
	margin-right: 0px	;
	border: 2px solid black;
}

.rating {
	float: right;
}

.rating-display {
	display: inline-block;
	margin: 10px;
}

