.profile {
	margin: 0 auto;
	background-color: #A9A9A9;
	width: 100%;
	max-width: 90%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px black;
	height: 500px;
}

.submitty {
	display: inline-block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #FF3B3F;
}

.info {
	text-align: center;
	display: block;
	width: 35%;
	float: left;
}

.info img {
	margin-top: 5px;
	margin-bottom: 20px;
	border: 6px solid black;
}

.rating-display {
	display: inline-block;
	margin: 15px;
	margin-bottom: 100px;
}

.profile-right {
	font-size: 20px;
	float: right;
	width: 49%;
	margin-top: 10px;
	margin-right: 10px;
}

.edit-button {
	float: right;
}